## Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
*.xcuserstate
xcuserdata/
DerivedData/
build/

## Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

## macOS
.DS_Store

## Secrets
*.xcconfig.local
secrets.plist
